body {
  background-color: #60828f;
  margin: 20px;
  font-size: 20px;
}

/* Banner styles for title */
#banner {
  border-radius: 12px;
  text-shadow: 2px 2px 2px #b1e1ee;
}

/* nav bar */
.navbar {
  overflow: hidden;
  background-color: #0f3340;
  border-radius: 12px;
  box-shadow: 0 3px 10px #b1e1ee;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #33abd6;
  color: black;
  border-radius: 12px;
}
/* end navbar */

/* anchor links */
a {
  color: #314f59;
}

a:hover {
  color: #22708c;
}

/* all headers for accent */
h1,
h2,
h3,
h4,
hr,
figcaption {
  color: #314f59;
  text-align: center;
  font-weight: 900;
}

/* footer styles */

.foot {
  text-align: center;
  background-color: #0f3340;
  color: white;
  margin-top: 40px;
  padding: 10px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 3px 10px #b1e1ee;
}

.app-header {
  color: #314f59;
  font-size: 30px;
  text-align: center;
}

/* image styles */
figcaption {
  text-align: center;
  font-family: "Oswald";
  font-weight: 400;
  font-style: italic;
  font-size: 0.75em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 1);
  border-radius: 12px;
  width: 400px;
}

/* grids  */
.grid-title {
  text-align: center;
  font-family: "Oswald";
  font-weight: 400;
}
.grid-item {
  border: solid #314f59;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
}
.grid-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top: 10px;
}

.grid-container-links {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  border: solid #314f59;
  border-radius: 11px;
  box-shadow: 0 3px 10px #b1e1ee;
}
.grid-item-links {
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  margin-left: 25%;
}
/* end grids */

/* containers and cards */
.container {
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  width: auto;
}

.card {
  background-color: white;
  box-shadow: 0 3px 10px #0f3340;
  transition: 0.3s;
  margin: 3% auto 0;
  grid-template-columns: auto;
  width: auto;
  border-radius: 12px;
  text-align: center;
}

.card-content {
  padding: 2px 16px;
}

.card-content:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5);
  border-radius: 12px;
}

/* buttons */
.btn {
  background-color: #0f3340;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 42%;
  margin-right: 42%;
  cursor: pointer;
  border-radius: 12px;
  width: 100px;
}

.btn:hover {
  background-color: #33abd6;
  color: black;
}

ul {
  list-style-position: inside;
  /* display: inline-block; */
  text-align: left;
  /* display: grid; */
  place-items: center;
}

.lists {
  list-style-position: inside;
  display: inline-block;
  text-align: left;
  place-items: center;
}

a {
  text-decoration: none;
}
p {
  text-indent: 1.5em;
  text-align: justify;
}
